<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="javascripts/matter.js"></script>
  </head>
  <body>
    <script src="javascripts/physics.js"></script>
  </body>
</html>
